name: Java CI


on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Build Backend
        run: |
          cd spring-boot-server
          mvn clean install

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
            node-version: 20

      - name: Install Frontend Dependencies
        run: |
          cd angular-17-client
          npm install

      - name: Build Frontend
        run: |
          cd angular-17-client
          npm run build --if-present

